{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title_block %}{% endblock %}</title>
    {% block css_files %}{% endblock %}
    <link rel="stylesheet" href="{% static 'app.css' %}">
  </head>
  <body>

    <header id='main-navigation'>
      <h1><a href="{% url 'about_site' %}">Lucy's Blog</a></h1>
      <nav>
        <a href="{% url 'post_list' %}">All Post</a>
      </nav>
    </header>

    {% block content %}
    {% endblock %}


  </body>
</html>
